body{
  font-family: Helvetica;
}

h1{
  text-align: center;
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  background-image: url("../pattern.jpg");
}

h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes h2{
  background-color: mediumspringgreen;
}

#frames h2{
  background-color: lightcoral;
}

#paint h2{
  background-color: skyblue;
}

.cost{
  font-weight: bold;
  color: blue;
}
